/* #meteo-min, #meteo-max {
    font-size: large;
    color: blueviolet;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background: rgb(148, 157, 225,1); */
}
.mountain {
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    z-index: 3;

}
.mountain2 {
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    z-index: 3;

}

#jour {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(148, 157, 225,1);
}

#sun {
    height: 80px;
    width: 80px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(255,255,0);
    box-shadow: 0px 0px 50px rgb(255,255,0),
    0px 0px 50px rgb(255,255,0);
    z-index : 2;
    /* animation: anime1 5s linear forwards; */
}

.birds{
    position: absolute;
    left: -15%;
    top: 20px;
    height: 70px;
    width: 140px ;
    animation: anime3 30s infinite;
    z-index: 4;
}
@keyframes anime3 {
    0%{
        left: -15%;
        top: 20%;
    }
    35%{
        top: 40%;
    }
    100%{
        left: 120%;
        top: 20%;
    }
}



#nuit {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(15,8,60,0);
}
#lune {
    height: 80px;
    width: 80px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(254, 254, 254);
    box-shadow: 0px 0px 50px rgb(255, 255, 255),
    0px 0px 50px rgb(255, 255, 255);
    z-index : 2;
}

/* .nuage-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(58,58,71,0);
} */
#nuage {
  margin: 0;
  position: absolute;
  height: 20vh;
  width: 20vw;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 3;
}

/* .pluie-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #3C3A47;
} */
#pluie {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
}

#dark {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(58,58,71,0);
}

/* body {
    background: rgb(19, 25, 70);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}  */
#text {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top: 0;
}

#ville {
    justify-content: center;
    align-items: center;
    background: grey;
    font-family: 'Fredoka One';
    color: white;

}

#heure {
    /* display: flex; */
    align-items: center;
    font-size: 100px;
    padding-right: 2%;
}

#meteo {
    padding-left: 5%;
    font-size: 200px;
}

.meteoHeure {
    display: flex;
    color:wheat;
    padding-top: 22%;
    font-family: 'Poppins';
    justify-content: space-between;
}

#container-ville {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.bouton:hover {
   opacity: 0.5;
}

#g {
    transform: rotate(-180deg);
}