body{
    overflow: hidden;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.mountain {
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    z-index: 3;

}
.mountain2 {
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    z-index: 3;

}

#jour {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(181, 223, 240);
}

#sun {
    height: 80px;
    width: 80px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(255,255,0);
    box-shadow: 0px 0px 50px rgb(255,255,0),
    0px 0px 50px rgb(255,255,0);
    z-index : 2;
}

.birds{
    position: absolute;
    left: -15%;
    top: 20px;
    height: 70px;
    width: 140px ;
    animation: anime3 30s infinite;
    z-index: 4;
}
@keyframes anime3 {
    0%{
        left: -15%;
        top: 20%;
    }
    35%{
        top: 40%;
    }
    100%{
        left: 120%;
        top: 20%;
    }
}



#nuit {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(15,8,60,0);
}
#lune {
    height: 80px;
    width: 80px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(254, 254, 254);
    box-shadow: 0px 0px 50px rgb(255, 255, 255),
    0px 0px 50px rgb(255, 255, 255);
    z-index : 2;
}

#nuage {
  margin: 0;
  position: absolute;
  height: 20vh;
  width: 20vw;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 3;
}

#pluie {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
}

#dark {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(58,58,71,0);
}

#text {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top: 0;
}

#ville {
    display: flex;
    width: 100%;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    font-family: 'Fredoka One';
    color:#ffffff;
    border-radius: 70px;
    font-size: 20px;
}
#heure {
    align-items: center;
    font-size: 100px;
    padding-right: 5%;
    margin-top: 10vh;
}

#meteo {
    padding-left: 5%;
    font-size: 200px;
}

.meteoHeure {
    display: flex;
    color:wheat;
    padding-top: 22%;
    font-family: 'Poppins';
    justify-content: space-between;

}

#container-ville {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    margin-top: 4vh;
    margin-right: 3vh;
}

.bouton:hover {
   opacity: 0.5;
}

#g {
    transform: rotate(-180deg);
}

.bouton{
    width: 25px;
}

#status{
    font-size: 50px;
    padding-left: 5%;
    color: wheat;
    margin: top 10vh;;
}

#statusDate {
    display: flex;
    justify-content: space-between;
}

#date {
    font-size: 50px;
    color: wheat;
    padding-right: 5%;
}