#meteo-min, #meteo-max {
    font-size: large;
    color: blueviolet;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(Mountain\ .gif);
    height: 100 vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}